#movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.movie-card {
    border: 1px solid #1f0218;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}
h1{
    text-align: center;
}
body{
    background-color:rgb(227, 227, 255)
}
.moviedetails{
    display: flex;
    gap: 30px;
    padding: 30px;  
    margin: 30px auto;
}

.moviedetails img{
    width: 700px;
    border-radius: 10px;
}

.movieinfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}
.movieinfo p{
    margin: 5px 0;
}
header {
    background-color: #ff00ea20;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-item {
    color: rgba(55, 0, 46, 0.831);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    background-color: rgb(73, 0, 53);
    color: #ff0095; 
}

.nav-item.active {
    background-color: #ff00663c; 
    color: #111;
}